Practices/
Resources/
Assignments/06. Section 31 Handling Forms in Angular Apps - Practicing Template-Driven Forms/.angular/
Assignments/06. Section 31 Handling Forms in Angular Apps - Practicing Template-Driven Forms/.anima/
*/.angular/*
Assignments/07. Section 31 Handling Forms in Angular Apps - Practicing Reactive Forms/.angular/
